p {
    background-color: #FF0000;
    color: #FFFF00;
    padding: 10px;
} 

img {
    width: 200px;
    height: 200px;
    margin: 20px;
}

div{
    background-color: #9ACD32;
}

h1 {
    background-color: #FF0000;
    color: #FFFF00;
    padding: 10px;
}