.form-wrapper {
    margin-bottom: 20px;
    border: #000;
  }
  
 input[type="text"] { 
    padding: 10px;
    width: 300px;
  }
  
  button {
    padding: 10px 20px;
    background-color: #8B008B;
    color: #000;
    border: double;
    cursor: pointer;
  }
  